<div class="container-fluid">
    <div class="row">
        <h1 class="title"> My Most Recent Dota Game (Judge Away) </h1>
        <div class="game-container">
            <div class="img-container">
                <img class="loading-img" [hidden]="heroImageLoaded"/>
                <img class="hero-img" *ngIf="gameLoaded" 
                    [src]="heroImageURI" (load)="heroImageLoaded = true"
                    [hidden]="!gameImageLoaded"/>
            </div>
            <div class="info-container">
                <div class="info-item hero">{{mostRecentGame.heroLocalizedName}}</div>
                <div class="info-item kills">
                    Kills: {{mostRecentGame.kills}}
                </div>
                <div class="info-item deaths">
                    Deaths: {{mostRecentGame.deaths}}
                </div>
                <div class="info-item assists">
                    Assists: {{mostRecentGame.assists}}
                </div>
            </div>
        </div>
    </div>
</div>