.feedback-submit-container {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.star-group {
    display: inline-block;
}

.feedback-list-container {
    margin-top: 20px;	
}

.review {
    border-right: 1px solid rgb(50,50,50);
}
