<div class="albums-container container-fluid">
  <div class="imgs-container"
    [ngStyle]="{'pointer-events': ptrEvents}">
    <div 
      (mouseleave)="onImgMouseLeave(album)"
      (mouseover)="onImgMouseOver(album)" 
      (click)="onImgClick(album)" 
      *ngFor="let album of savedAlbums; let i = index;"
      (@imgState.start)="ptrEvents = 'none'"
      (@imgState.done)="ptrEvents = 'auto'" 
      [@imgState]="album.state" 
      class="img-container"
      [ngStyle]="album.style">
      <img (load)="imgLoaded()" class="album-cover" [src]="album.album.images[0].url"/>
    </div>
  </div>
</div>