:host {
    overflow: hidden;
    width: 100%;
}

.song-info h3 {
    text-align: center;
}

.widget-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 25px;
}

