<!-- intentionally not using the bootstrap classes ;) -->
<nav class="mynav">
    <ul>
        <li routerLink="/home" routerLinkActive="active" id="homeLink"><div><a >Home</a></div></li>
        <li routerLink="/track" routerLinkActive="active"><div><a >Track</a></div></li>
        <li routerLink="/music" routerLinkActive="active"><div><a >Music</a></div></li>
        <li routerLink="/gaming" routerLinkActive="active"><div><a >Gaming</a></div></li>
        <li routerLink="/feedback" routerLinkActive="active"><div><a >Feedback</a></div></li>
    </ul>
</nav>
<!--This class is necessary because angular is generating different content 
and we need to leave space for the fixed header on each page -->
<div class="holder"></div>
<router-outlet></router-outlet>