<!-- intentionally not using the bootstrap classes ;) -->
<nav class="mynav">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/track" routerLinkActive="active">Track</a></li>
        <li><a routerLink="/music" routerLinkActive="active">Music</a></li>
        <li><a routerLink="/gaming" routerLinkActive="active">Gaming</a></li>
        <li><a routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
    </ul>
</nav>
<!--This class is necessary because angular is generating different content 
and we need to leave space for the fixed header on each page -->
<div class="holder"></div>
<router-outlet></router-outlet>