/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', 'Lucida Grande','Ubuntu','sans-serif';
}


.spinner {
    background-image: url("assets/dota-2.jpg");
    background-position: center;
}
