<div class="start">
  <img src="assets/logo_final.png"/>
  <div class="start-blurb">
      <p class="welcome">Welcome to my web site! My name is Joey Pasque, and I'm currently a Software Developer for AT&T. I love music, track, family, and the occassional video game ;) </p>
      <p>If you're interested for any reason, the code for this site can be found at: ????</p>
      <div class="github">
        <button class="btn btn-regular">Source code on Github</button>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row odd-row music-row interest-row" (click)="go('/music')">
    <div class="col-sm-6 vcentered">
      <h3>Lorem Ipsum, sit dolor amet.</h3>
      <p class="welcome">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
    </div>
    <div class="col-sm-6">
      <div class="img-container">
        <img src="assets/architects.jpeg"/>
      </div>
    </div>
  </div>
  <div class="row game-row even-row interest-row" (click)="go('/gaming')"> 
    <div class="col-sm-6">
      <div class="img-container">
        <img src="assets/dota-2.jpg"/>
      </div>
    </div>
    <div class="col-sm-6 vcentered">
      <h3>Lorem Ipsum, sit dolor amet.</h3>
      <p class="welcome">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
    </div>
  </div>
  <div class="row track-row odd-row interest-row" (click)="go('/track')">
    <div class="col-sm-6 vcentered">
      <h3>Lorem Ipsum, sit dolor amet.</h3>
      <p class="welcome">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
    </div>
    <div class="col-sm-6">
      <div class="img-container">
        <img src="assets/track_photo.jpg"/>
      </div>
    </div>
  </div>
  
</div>
