<div class="start">
  <span class="glyphicon glyphicon-menu-down go-down" (click)="scrollDown()"></span>
  <img src="assets/logo_final_grayscale.png"/>
  <div class="start-blurb">
      <h3 class="welcome">Joseph M Pasque </h3>
      <div class="github">
        <button class="btn btn-regular">Source code on Github</button>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row odd-row music-row interest-row" id="firstRow" (click)="go('/music')">
    <div class="col-sm-6 vcentered">
      <h3>Lorem Ipsum, sit dolor amet.</h3>
      <p class="welcome">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
    </div>
    <div class="col-sm-6">
      <div class="img-container">
        <img src="assets/architects.jpeg"/>
      </div>
    </div>
  </div>
  <div class="row game-row even-row interest-row" (click)="go('/gaming')"> 
    <div class="col-sm-6">
      <div class="img-container">
        <img src="assets/dota-2.jpg"/>
      </div>
    </div>
    <div class="col-sm-6 vcentered">
      <h3>Lorem Ipsum, sit dolor amet.</h3>
      <p class="welcome">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
    </div>
  </div>
  <div class="row track-row odd-row interest-row" (click)="go('/track')">
    <div class="col-sm-6 vcentered">
      <h3>Lorem Ipsum, sit dolor amet.</h3>
      <p class="welcome">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
    </div>
    <div class="col-sm-6">
      <div class="img-container">
        <img src="assets/track_photo.jpg"/>
      </div>
    </div>
  </div>
  
</div>
